# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask
instance/
.webassets-cache

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Logs
*.log

# Database
*.sqlite3
*.sqlite3-journal

# Docker
**/node_modules/

# IDE
.vscode/
.idea/

# Kubernetes (if you have local kubeconfig files)
.kube/

# Python packaging and build artifacts
build/
dist/
*.egg-info/
